{{#>layout}}
<h1>user profile</h1>
<p>name: {{name}}</p>
<p>email: {{email}}</p>
<p>Age: {{age}}</p>

{{#if isAdmin}}
  <p>Status: <strong>Admin</strong></p>
  {{else}}
  <p>Status: <strong>Regular User</strong></p>

  {{/if}}

  <h2>Hobbies</h2>
  <ul>
    {{#each hobbies}}
    <li>{{this}}</li>
    {{/each}}
  </ul>

{{/layout}}